</br>
</br>

<p><%= form_for @crawl do |f| %></p>
	<p><%= f.label :name %>
	<%= f_text_field :name, :placeholder => 'Name your crawl'%></p>
</br>
	<p><%= f.label :start_point %>
	<%= f.text_field :start_point %></p>
</br>	
	<p><%= f.label :second_place %>
	<%= f.text_field :second_place %></p>
</br>
	<p><%= f.label :end_point %>
	<%= f.text_field :end_point %></p>
</br>
	<p><%= f.submit %></p>

<p><% end %></p>