</br>
</br>
<h2>This is your crawl:</h2>
<h3><%= @crawl.name %></h2>

	First stop: <%= @crawl.start_point %></br>
	Second stop: <%= @crawl.second_place %></br>
	Finish line: <%= @crawl.end_point %></br></br>

<p><%= link_to 'All Crawls', pub_crawls_path %> - <%= link_to 'home', root_path %></p>