</br>
</br>



<h2><%= @locale.name %></h2>
<h4><%= @locale.address %></h4>
<h4><%= @locale.phone %></h4>
<img class = "locale" src= "<%= @locale.image %>">

<p><%= link_to 'Back to all locations', locations_path %> - <%= link_to 'home', root_path %></p>