</br>
</br>



<h2><%= @locale.name %></h2>
<h4><%= @locale.address %></h4>
<h4><%= @locale.phone %></h4>
<img src= "<%= @locale.image %>">

<p><%= @locale.name %> </p>

<p><%= @locale.address %></p> 
<p><%= @locale.phone %></p> 
<img src="<%= @locale.pic_url %>"> 

<p><%= link_to 'Back to all locations', locations_path %> - <%= link_to 'home', root_path %></p>